﻿
@{
    ViewBag.Title = "MilesInput";
}

<h2>Give me a value in KiloMeters</h2>

@if (TempData.ContainsKey("warning"))
{
    <p style="font-weight:bold;color:red">@TempData["warning"]</p>
}
<form method="POST" action="/NikDemo/Miles">
      <input type="text" name="NumKm" />
      <input type="submit" value="SEND" />
</form>
