﻿@model Formula1.Web.Models.Pilot
@{
    ViewBag.Title = "PilotDetails";
}

<h2>Datasheet of one pilot</h2>
@Html.ActionLink("Back to the list", "Index");

<table>
    <tr>
        <td>@Html.DisplayNameFor(m => m.ID)</td>
        <td>@Html.DisplayFor(m => m.ID)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Birth)</td>
        <td>@Html.DisplayFor(m => m.Birth)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Nationality)</td>
        <td>@Html.DisplayFor(m => m.Nationality)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Points)</td>
        <td>@Html.DisplayFor(m => m.Points)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.RacesWon)</td>
        <td>@Html.DisplayFor(m => m.RacesWon)</td>
    </tr>
</table>


