﻿@model Formula1.Web.Models.PilotViewModel

@{
    ViewBag.Title = "PilotIndex";
}

<h2>Pilot Index</h2>

<p style="color:red; font-weight:bold">@TempData["editResult"]</p>

@Html.Partial("PilotEdit", Model.EditedPilot)
@Html.Partial("PilotList", Model.ListOfPilots)
