﻿@model Formula1.Web.Models.Pilot

<h2>Edit one pilot</h2>

@using (Html.BeginForm("Edit", "Pilot"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    //@Html.HiddenFor(m => m.ID)
    //@Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.ID)</div>
    <div class="editor-field">@Html.EditorFor(m => m.ID)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Birth)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Birth)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Nationality)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Nationality)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Points)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Points)</div>

    <div class="editor-label">@Html.LabelFor(m => m.RacesWon)</div>
    <div class="editor-field">@Html.EditorFor(m => m.RacesWon)</div>

    <input type="submit" value="SEND" />
}