﻿@{ 
    ViewBag.Title = "Api Test";
}

<h2>API Test</h2>

<p id="message" style="color:red; font-weight:bold"></p>
<ul id="pilots"></ul>
PILOT ID:
<input type="text" id="pilotId"/>
<br/>
<button onclick="doList()">LIST</button>
<button onclick="doListNEW()">LIST2</button>
<button onclick="doAdd()">ADD</button>
<button onclick="doMod()">MOD</button>
<button onclick="doDel()">DEL</button>

@section scripts{
    <script language="javascript">
        var url = "http://localhost:56586/api/PilotApi/"

        function htmlEncode(textValue)
        {
            return $("<div />").text(textValue).html();
        }

        function doList() {
            $.get(url + "all", null, function (data, status, jqxr) {
                alert("ALL: " + data);
            }, "html");
        }

        function doListNEW() {
            $("#pilots").html("");
            $.getJSON(url + "all")
                .done(function (data) {
                    $.each(data, function (key, item) {
                        var html = "<li>#" +
                            htmlEncode(item.ID) + " " +
                            htmlEncode(item.Name) + " " +
                            htmlEncode(item.Birth) + " with birth date, Points:" +
                            htmlEncode(item.Points) + " " + "</li>";
                        $("#pilots").append(html);
                    });
                });
        }

        function doAdd() {
            var newPilot = {
                "Name": "Palik László", "Birth": "1962", "Points": "100"
            };
            $.post(url + "add", newPilot, function (data, status, jqxr) {
                $("#message").html("ADD: " + data.OperationResult);
                doListNEW();
            });
        }

        function doMod() {
            var newPilot = {
                "ID" : $("#pilotId").val(), "Name": "Palik László", "Birth": "1962", "Points": "300"
            };
            $.post(url + "mod", newPilot, function (data, status, jqxr) {
                $("#message").html("MOD: " + data.OperationResult);
                doListNEW();
            });
        }

        function doDel() {
            $.get(url + "del/" + $("#pilotId").val(), null, function (data, status, jqxr){
                $("#message").html("DEL: " + data.OperationResult);
                doListNEW();
            });
        }

    </script>
}