﻿
@{
    ViewBag.Title = "CalorieInput";
}

<h2>Calculate how much calorie you burn.</h2>
<form method="POST" action="/CalorieCounter/Counter">
    <label for="FullName">Full name</label>
    <input type="text" name="FullName" /><br />
    <label for="Weight">Weight (in kg)</label>
    <input type="text" name="Weight" /><br />
    <label for="SportType">Exercise</label>
    <select name="SportType">
        <option value="Running">Running</option>
        <option value="Yoga">Yoga</option>
        <option value="Pilates">Pilates</option>
        <option value="Hiking">Hiking</option>
        <option value="Swimming">Swimming</option>
        <option value="Bicycle">Bicycle</option>
    </select><br />
    <label for="SportLength">Exercise length (in minutes)</label>
    <input type="text" name="SportLength" /><br />
    <input type="submit" value="Submit" />
</form>

